<div class="inner-columns">
    <div class="inner-left">
        <h3>
            <b>CLASSES TAKEN</b>
        </h3>
        <p class="classes-list">
            <span>Programming Python</span>
            <span>Introduction to Computers and Programming</span>
            <span>Software Project Management</span>
            <span>Introduction to Cybersecurity</span>
            <span>Introduction to Data Analytics</span>
        </p>
    </div>

    <div class="inner-right">
        <h2>
            <b>UC Berkeley Extension</b>
        </h2>

        <h4>
            <i>Certified in Software Development and Programming, with distinction</i><br>
            2022-2023
        </h4>

        <p>
            Meticulously designed set of courses that encompass both theoretical knowledge and hands-on experience. The esteemed faculty and the high standards of UC Berkley ensured that I was exposed to the best practices of the instructors, while still providing a range of topics to learn about. This certificate has equipped me with a robust foundation, while also inspiring me to further pursue my passion in the realm of technology and software development.
        </p>
    </div>
</div>