<div class="inner-columns">
    <div class="inner-left">
        <h3>
            <b>ATTRIBUTES</b>
        </h3>
        <img src="{{ url_for('static', filename='images/davina.jpg') }}" alt="Profile Picture" class="profile-image"><br>
        <p>ORIGIN: Gualala, CA, USA</p>
    </div>
    <div class="inner-right">
        <p>Enthusiastic individual with a genuine passion for languages and continuous self-improvement. While I am still on my journey to mastering German, my love for diverse cultures and languages fuels my drive. I am also versed in Python programming and proud of my web development accomplishments showcased on this site, reflecting my commitment to growth and evolving as a programmer.</p>
    </div>
</div>
