{% extends "base.html" %}

{% block content %}
<div class="top-section">
    <h1>davina rose allen</h1>
    <div class="top-menu">
        <a href="javascript:void(0)" onclick="loadHomeContent()">HOME</a>
        <a href="#section2">BUTTON</a>
        <a href="javascript:void(0)" onclick="loadContent('/fun')">FUN</a>
    </div>
</div>

<!-- Columns Container -->
<div class="columns">
    <!-- Left Column -->
    <div class="left-column">
        <p>Currently under construction.</p>
    </div>
    <!-- Right Column -->
    <div class="right-column">
        <button class="button" onclick="loadContent('/details')">DETAILS</button>
        <button class="button" onclick="loadContent('/education')">EDUCATION</button>
        <button class="button" onclick="loadContent('/certification')">CERTIFICATION</button>
    </div>
    
</div>

<script>
    function loadContent(url) {
        fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            const leftColumn = document.querySelector('.left-column');
            leftColumn.innerHTML = data;
    
            if (url === '/fun') {
                leftColumn.classList.add('fun-mode');
            } else {
                leftColumn.classList.remove('fun-mode');
            }
        })
        .catch(error => {
            console.log('There was a problem with the fetch operation:', error.message);
        });
    }    

    document.addEventListener("DOMContentLoaded", function() {
        loadContent('/fun');
    });   
</script>

<script>
    function loadHomeContent() {
        document.querySelector('.left-column').innerHTML = "Currently under construction.";
    }    
</script>



{% endblock %}